<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
    <body>
        <div th:insert="~{fragments/nav :: nav}"></div>
        <div class="container-sm d-flex justify-content-center mt-5">
            <div class="card" style="width: 25rem;">
                <form class="card-body" th:action="@{/auth/login}" method="post">
                    <h2>Login</h2>
                    <div class="alert alert-danger" th:if="${param.error}">Invalid username and password</div>
                    <label class="form-label" for="Username">Email</label>
                    <input class="form-control" id="Username" name="username">
                    <label class="form-label" for="Password">Password</label>
                    <input class="form-control" id="Password" type="password" name="password">
                    <button type="submit" class="btn btn-primary mt-2">Login</button>
                </form>
                <a class="text-center mt-2 mb-2" href="/auth/register">Dont have an account. Register here!</a>
            </div>
        </div>
    </body>
</html>